<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{item.name}} Statistics</title>
    <link href = "../static/styles.css" rel = "stylesheet">
    <script src = "../static/index.js" defer></script>
</head>
<body>
    <h1>{{item.name}} Statistics</h1>
    {%if item.max_rank%}
        <p><em>Max Rank: {{item.max_rank}}</em></p>
    {%endif%}

    <table class = "item" border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Last 90 Days Median</th>
                <th>Last 48 Hours Median</th>
                <th>Last 12 Hours Median</th>
                <th>Last 48 Hours Weighted Average</th>
                <th>Good Sells</th>
                <th>Good Buys</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
            <tr>
                <td>{{stat.item_rank | round(2) if stat.item_rank != -1 else "No Rank"}}</td>
                <td>{{ stat.historical_med | round(2) if stat.historical_med != none else 'No data'}}</td>
                <td>{{ stat.recent_med | round(2) if stat.recent_med != none else 'No data'}}</td>
                <td>{{ stat.sr_med | round(2) if stat.sr_med != none else 'No data'}}</td>
                <td>{{ stat.recent_wa | round(2) if stat.recent_wa != none else 'No data'}}</td>
                <td>{{ stat.num_sell }}</td>
                <td>{{ stat.num_buy }}</td>
                <td>{{ stat.last_update }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>A "good buy" is any willing to buy order that is atleast 90% of the market value</p>
    <p>A "good sell" is any willing to sell order that is under 90% of the market value</p>
    <p>Orders are compared left to right starting with the weighted average, if there is no weighted average it moves to the next statistic in the table</p>

    <input class = "spaced bottom" type = "text" id = "searchbar" placeholder="Search for an item...">

    <br>

    <a href = "/">Home</a>
        
</body>
</html>