<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "../static/styles.css" rel = "stylesheet">
    <script src = "../static/index.js" defer></script>
    <title>Item Not Found</title>
</head>
<body>
    <h1>Your item "{{item}}" could not be found</h1>
    <input class = "spaced bottom" type = "text" id = "searchbar" placeholder="Search for an item...">
    <br>
    <a href = "/">Home</a>
</body>
</html>